@keyframes changeColor {
    from, to { background-color: #3FC9FF; }
    20%      { background-color: #FDDC75; }
    40%      { background-color: #F9805A; }
    60%      { background-color: #F33474; }
    80%      { background-color: #7D6CEC; }
}

.color-divide {
    animation: 8s changeColor infinite;
}