@keyframes changeTextColor {
    from, to { color: #3FC9FF; }
    20%      { color: #FDDC75; }
    40%      { color: #F9805A; }
    60%      { color: #F33474; }
    80%      { color: #7D6CEC; }
}

@keyframes pulse{
    20%  {transform: scale(.9);}
    80%  {transform: scale(1.1);}
}

.header-title {
    font-size: xx-large;
    animation-name: changeTextColor, pulse;
    animation-duration: 8s, 1.8s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite, infinite;
}

.header-title, .header-date {
    font-family: 'Bungee', 'Arial';
}